*
!Dockerfile
!Dockerfile.tools
!Dockerfile.comfyui
!requirements.comfyui.txt
!service/
!service/**
!comfyui/
!comfyui/**
!tools/
!tools/**
!requirements.txt
!LICENSE
!NOTICE
!THIRD_PARTY_NOTICES.md
!LICENSES/
!LICENSES/**
!README.md
!paiton_image/
!paiton_image/**
!artifacts/
!artifacts/*.so
!artifacts/*.json
**/__pycache__
**/*.pyc

!assets/
!assets/pipeline-memory.png
!assets/pipeline-memory.svg
