**
!Dockerfile
!requirements*.txt
!checkpoint.lock.json
!run.py
!model.json
!paiton_image21/
!paiton_image21/*.py
!artifacts/
!artifacts/manifest.json
!artifacts/NOTICE
!artifacts/mxfp4_weights_gfx1201.so
!artifacts/bf16-regions/
!artifacts/bf16-regions/manifest.json
!artifacts/bf16-regions/qwen_image21_bf16_gfx1201.so
!LICENSE
!NOTICE
!LICENSES/
!LICENSES/*.txt
!THIRD_PARTY_NOTICES.md
**/__pycache__
**/*.py[cod]
